# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=nordvik
POSTGRES_USER=nordvik
POSTGRES_PASSWORD=nordvik
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000

NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1
INTERNAL_API_URL=http://127.0.0.1:8000/api/v1